In [2]:
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    
    sequence = [0, 1]
    for i in range(2, n):
        next_value = sequence[-1] + sequence[-2]
        sequence.append(next_value)
    
    return sequence


n=int(input("enter yur range :"))
print(fibonacci(n))

enter yur range : 6

[0, 1, 1, 2, 3, 5]

In [7]:
def is_prime(num):
    """Check if a number is a prime number."""
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True
n = int(input("enter number "))
print(is_prime(n))

enter number  91

False

In [8]:
import pandas as pd

data = {
    'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
    'Sales': [200, 220, 210, 215, 225],
    'Region': ['North', 'South', 'East', 'West', 'North'],
    'Manager': ['John', 'Jane', 'Joe', 'Jake', 'John']
}

df = pd.DataFrame(data)

# Task 1: Load the dataset and display the first 5 rows
print("First 5 rows of the DataFrame:")
print(df.head())

# Task 2: Add a new column 'Profit'
df['Profit'] = df['Sales'] * 0.1
print("\nDataFrame with the new 'Profit' column:")
print(df)

# Task 3: Group by 'Region' and calculate total sales for each region
total_sales_by_region = df.groupby('Region')['Sales'].sum().reset_index()
print("\nTotal sales for each region:")
print(total_sales_by_region)

# Task 4: Find the region with the highest average sales
average_sales_by_region = df.groupby('Region')['Sales'].mean().reset_index()
highest_avg_sales_region = average_sales_by_region.loc[average_sales_by_region['Sales'].idxmax()]
print("\nRegion with the highest average sales:")
print(highest_avg_sales_region)

First 5 rows of the DataFrame:
         Date  Sales Region Manager
0  2024-01-01    200  North    John
1  2024-01-02    220  South    Jane
2  2024-01-03    210   East     Joe
3  2024-01-04    215   West    Jake
4  2024-01-05    225  North    John

DataFrame with the new 'Profit' column:
         Date  Sales Region Manager  Profit
0  2024-01-01    200  North    John    20.0
1  2024-01-02    220  South    Jane    22.0
2  2024-01-03    210   East     Joe    21.0
3  2024-01-04    215   West    Jake    21.5
4  2024-01-05    225  North    John    22.5

Total sales for each region:
  Region  Sales
0   East    210
1  North    425
2  South    220
3   West    215

Region with the highest average sales:
Region    South
Sales     220.0
Name: 2, dtype: object

In [9]:
import pandas as pd

# Task 1: Load the dataset from the GitHub URL
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

# Display the first 5 rows of the DataFrame
print("First 5 rows of the DataFrame:")
print(df.head())

# Task 2: Displaying summary statistics of the DataFrame
print("\nSummary statistics of the DataFrame:")
print(df.describe(include='all'))

# Task 3: Check for null values and display the count of null values in each column
print("\nCount of null values in each column:")
print(df.isnull().sum())

# Task 4: Fill null values in the 'Age' column with the mean age
mean_age = df['Age'].mean()
df['Age'].fillna(mean_age, inplace=True)

# Verifying that the null values in the 'Age' column have been filled
print("\nCount of null values in the 'Age' column after filling with mean age:")
print(df['Age'].isnull().sum())

# Task 5: Drop rows where 'Embarked' is null
df.dropna(subset=['Embarked'], inplace=True)

# Verify that the rows with null 'Embarked' values have been dropped
print("\nCount of null values in the 'Embarked' column after dropping rows:")
print(df['Embarked'].isnull().sum())

First 5 rows of the DataFrame:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Summary statistics of the DataFrame:
        PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   714.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       889
unique        3
top           S
freq        644
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

Count of null values in each column:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Count of null values in the 'Age' column after filling with mean age:
0

Count of null values in the 'Embarked' column after dropping rows:
0

In [10]:
# Create a new column 'FamilySize' which is the sum of 'SibSp' and 'Parch'
df['FamilySize'] = df['SibSp'] + df['Parch']

# Display the first 5 rows to verify the new column
print("\nFirst 5 rows of the DataFrame with 'FamilySize' column:")
print(df.head())

First 5 rows of the DataFrame with 'FamilySize' column:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  FamilySize
0      0         A/5 21171   7.2500   NaN        S           1
1      0          PC 17599  71.2833   C85        C           1
2      0  STON/O2. 3101282   7.9250   NaN        S           0
3      0            113803  53.1000  C123        S           1
4      0            373450   8.0500   NaN        S           0

In [11]:
# Convert the 'Sex' column to numerical values (male: 0, female: 1)
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

# Display the first 5 rows to verify the conversion
print("\nFirst 5 rows of the DataFrame with 'Sex' column converted to numerical values:")
print(df.head())

First 5 rows of the DataFrame with 'Sex' column converted to numerical values:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    0  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1      0
2                             Heikkinen, Miss. Laina    1  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1      0
4                           Allen, Mr. William Henry    0  35.0      0      0

             Ticket     Fare Cabin Embarked  FamilySize
0         A/5 21171   7.2500   NaN        S           1
1          PC 17599  71.2833   C85        C           1
2  STON/O2. 3101282   7.9250   NaN        S           0
3            113803  53.1000  C123        S           1
4            373450   8.0500   NaN        S           0

In [12]:
# Group the data by 'Pclass' and calculate the average fare for each class
average_fare_by_class = df.groupby('Pclass')['Fare'].mean().reset_index()

print("\nAverage fare for each class:")
print(average_fare_by_class)

Average fare for each class:
   Pclass       Fare
0       1  84.193516
1       2  20.662183
2       3  13.675550

In [13]:
# Find the most common port of embarkation
most_common_embarked = df['Embarked'].mode()[0]

print("\nMost common port of embarkation:")
print(most_common_embarked)

Most common port of embarkation:
S

In [14]:
# Create a pivot table that shows the survival rate for each combination of 'Sex' and 'Pclass'
survival_rate_pivot = df.pivot_table(values='Survived', index='Sex', columns='Pclass', aggfunc='mean')

print("\nSurvival rate for each combination of 'Sex' and 'Pclass':")
print(survival_rate_pivot)

Survival rate for each combination of 'Sex' and 'Pclass':
Pclass         1         2         3
Sex
0       0.368852  0.157407  0.135447
1       0.967391  0.921053  0.500000